*.suo
*.user
*.userosscache
*.sln.docstates
*.v12.suo
*.VC.db
*.opensdf
*.sdf
*.opendb
*.vs

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Aa]rm/
[Aa]rm64/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]emp/

packages/
!packages/Build/

*.exe
*.dll
*.pdb
*.exp
*.ilk
*.lib
*.so
*.a
*.lo
*.la
*.o
*.pyc

ipch/
*.aps
*.idb
*.tlog
*.log
*.lastbuildstate
*.nativecodeanalysis.xml
*.nativecodeanalysis.sarif
*.ilk
*.exp
*.recipe

Thumbs.db
ehthumbs.db
Desktop.ini
$tf/
*.gch
*.pch